<div class="h-screen">
    <div *ngFor="let impact of impactData let e = index" class="ml-4">
        <div class="flex p-4 rounded-md" [ngClass]="{' bg-gray-100 ': e % 2 === 0}">
            <div class="bg-customBlue text-white text-lg font-semibold rounded-l-lg p-5">Impact</div>
            <div class="bg-white text-lg shadow-md flex items-center p-5 font-semibold">{{ impact.impact }}</div>
        </div>

        <div *ngFor="let outcome of impact.outcomes; let i = index">
            <div class="flex items-center space-x-2 pl-10 flex-grow font-bold" [ngClass]="{'bg-gray-100 rounded-md': i % 2 !== 0}">
                <div>
                    <div class="flex p-4">
                        <div class="bg-customBlue text-white text-lg font-semibold rounded-l-lg p-5">Outcome</div>
                        <div class="bg-white text-lg shadow-md flex items-center p-5 font-semibold">{{ outcome.outcome }}</div>
                    </div>
                </div>

            </div>
            <ul class="pl-10">
                <li *ngFor="let indicator of outcome.indicators; let j = index">
                    <div class="flex items-center space-x-2">
                        <div [ngClass]="{'bg-gray-200 p-4 rounded-md shadow-md': j % 2 === 0}" class="flex-grow">
                            {{ indicator.indicator }}
                        </div>
                        <div>
                            <span class="text-gray-500">+</span>
                        </div>
                    </div>
                    <ul class="pl-10">
                        <li *ngFor="let activity of indicator.activities; let k = index">
                            <div class="flex items-center space-x-2">
                                <div [ngClass]="{'bg-gray-100 p-4 rounded-md shadow-md': k % 2 === 0}" class="flex-grow dark:bg-gray-100">
                                    {{ activity.activity }}
                                </div>
                                <div>
                                    <span class="text-gray-500">+</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
