<div class="flex items-center justify-end mt-4 mr-10 pb-4 border-b border-gray-300 space-x-20">
    <button disabled class="bg-customBlue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
Mock Button
</button>
    <p class="text-gray-500 font-semibold">Import</p>
    <p class="text-gray-500 font-semibold">Export</p>
</div>
<div class="h-full planContainer">
    <div *ngFor="let impact of impactData let e = index  let impactEven = even">
        <div class="rounded-md border-b border-gray-300">
            <div class="flex w-full items-center justify-between">
                <div class="flex p-4 cardWidthSize flex-wrap w-full">
                    <div class="bg-customBlue text-white text-md font-semibold rounded-l-lg p-3">Impact</div>
                    <div class="bg-white text-md shadow-md flex items-center p-3 font-semibold">{{ impact.impact }}</div>
                </div>
                <div class="text-customBlue text-4xl font-semibold mousePointer" (click)="addOutcome(impact)"> + </div>
                <div class="text-gray-400 pr-4"> edit </div>
            </div>
        </div>

        <div *ngFor="let outcome of impact.outcomes; let i = index let outcomeEven = even">
            <div class="flex items-center space-x-2 flex-grow font-bold border-b border-gray-300">
                <div class="flex w-full items-center justify-between">
                    <div class="flex p-4 cardWidthSize flex-wrap w-full">
                        <div class="flex ml-10">
                            <div class="bg-customBlue text-white text-md font-semibold rounded-l-lg p-3">Outcome</div>
                            <div class="bg-white text-md shadow-md flex items-center p-3 font-semibold">{{ outcome.outcome }}</div>
                        </div>

                    </div>
                    <div class="text-customBlue text-4xl font-semibold mousePointer" (click)="addIndicator(outcome)"> + </div>
                    <div class="text-gray-400 pr-4"> edit </div>
                </div>
            </div>
            <div>
                <div *ngFor="let indicator of outcome.indicators; let j = index">
                    <div class="flex items-center space-x-2 flex-grow font-bold border-b border-gray-300">
                        <div class="flex w-full items-center justify-between">
                            <div class="flex p-4 cardWidthSize flex-wrap w-full">
                                <div class="flex ml-16">
                                    <div class="bg-blue-200 text-gray-500 text-md font-semibold rounded-l-lg p-3">Indicator</div>
                                    <div class="bg-white text-md shadow-md flex items-center p-3 font-semibold">{{ indicator.indicator }}</div>
                                </div>

                            </div>
                            <div class="text-customBlue text-4xl font-semibold mousePointer" (click)="addActivity(indicator)"> + </div>
                            <div class="text-gray-400 pr-4"> edit </div>
                        </div>
                    </div>
                    <div>
                        <div *ngFor="let activity of indicator.activities; let k = index">
                            <div class="flex items-center space-x-2 flex-grow font-bold border-b border-gray-300">
                                <div class="flex w-full items-center justify-between">
                                    <div class="flex p-4 cardWidthSize flex-wrap w-full">
                                        <div class="flex ml-24">
                                            <div class="bg-gray-200 text-gray-500 text-md font-semibold rounded-l-lg p-3">Activity</div>
                                            <div class="bg-white text-md shadow-md flex items-center p-3 font-semibold">{{ activity.activity }}</div>
                                        </div>
                                    </div>
                                    <div class="text-customBlue text-4xl font-semibold mousePointer"> </div>
                                    <div class="text-gray-400 pr-4"> edit </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-logframe-modal *ngIf="isModalOpen" [isModalOpen]="isModalOpen" [title]="title" (sendDataToLogFrameEvent)="create($event)" (closeModalEvent)="modalToggle($event)"></app-logframe-modal>