<header class="bg-white-800 shadow-md p-4">
    <nav class="flex items-center justify-end">
        <a href="/" class="text-xl font-bold">Logo</a>
        <ul class="flex space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">DataHub</a></li>
            <li><a href="/contact">Plan & Measure</a></li>
            <li><a href="/contact">Analytics</a></li>
            <li><a href="/contact">Beneficiaries</a></li>
            <li><a href="/contact">[ search ]</a></li>
            <li><a href="/contact">[ icon ]</a></li>
        </ul>
    </nav>
</header>