<div class="bg-white-800 shadow-md">
    <nav class="flex flex-wrap items-center justify-end">
        <div class="flex flex-wrap space-x-12">
            <app-submenu [subMenu]="headerMenu" [activeLink]="activeLink" spaceValue='space-x-12'></app-submenu>
            <div class="flex items-center">
                <div class="relative flex items-center ">
                    <button class="absolute left-2 text-gray-600 ">
                      <img class="seachBtn " src="../../../assets/searchLoop.png ">
                </button>
                    <input type="text " placeholder="Search " class="pl-10 pr-4 py-1 bg-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 ">
                </div>
            </div>
            <div class="flex items-center"> <img class="accountBtn" src="../../../assets/account.png "></div>
        </div>
    </nav>
</div>
