<div class="h-screen roundBar sidebar">
    <div class="text-white space-y-14 pt-16 pl-7" [ngClass]="{'setSideBarWidth': isOpen, 'removeSideBarWidth':!isOpen}">
        <div class="flex font-bold pr-6 cursor-pointer" [ngClass]="{'justify-end': !isOpen } " (click)=toggleSidebar()>[-x-]</div>
        <div class="flex" [ngClass]="{'justify-end pr-4 ': !isOpen } ">
            <div class="font-bold pr-2">[icon]</div>
            <div *ngIf="isOpen">Program</div>
        </div>
        <div class="flex" [ngClass]="{'justify-end pr-4 ': !isOpen } ">
            <div class="font-bold pr-2">[icon]</div>
            <div *ngIf="isOpen">Project</div>
        </div>
        <div class="flex" [ngClass]="{'justify-end pr-4 ': !isOpen } ">
            <div class="font-bold pr-2">[icon]</div>
            <div *ngIf="isOpen">Indicator</div>
        </div>
        <div class="flex" [ngClass]="{'justify-end pr-4 ': !isOpen } ">
            <div class="font-bold pr-2">[icon]</div>
            <div *ngIf="isOpen">Report</div>
        </div>
    </div>
</div>
