.sidebar {
    background-color: #3b59a7;
    transition: width 2s ease;
    /*
    transform: translateX(-70%);
    transition: transform 0.3s ease;*/
}

.roundBar {
    border-top-right-radius: 50px;
}

.setSideBarWidth {
    width: 200px;
}

.removeSideBarWidth {
    width: 70px;
}
